.App {
  text-align: center;
}

.App-logo, .App-logo h1 {
  color: #fff;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Thasadith', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#oidc-form .input {
  margin: 15px 0px;
}

#oidc-form .response_type,
#oidc-form .response_mode {
  text-align: left;
  width: 49%;
}

#oidc-form .response_type_hint {
  color: #999;
  padding-left: 15px;
  font-weight: bold;;
}

#oidc-form .response_type_description {
  width: 43%;
  padding-left: 20px;
  font-size: 14px;
}

#oidc-form .response_type label {
  border: 1px #ccc solid;
  display: block;
  margin: 5px;
  text-align: left;
  border-radius: 5px;
}

#oidc-form .response_type label:hover {
  background: #f0f0f0;
}

#oidc-form .response_type label.active {
  background: #dce0e9;
}


#oidc-form .response_type .MuiTypography-root-232 {
  display: inline;
}

#oidc-form .response_type_description .first,
#oidc-form .response_type_description .second,
#oidc-form .response_type_description .third  {
  margin-top: 60px
}

#oidc-form .response_type_description span {
  font-weight: bolder;
  font-size: 22px;
}

#oidc-form .responseModeRadios {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#oidc-form .responseModeRadios label {
  align-self: auto;
  flex-grow: 1;
  flex-basis: 2rem;
  margin: 2px;
}

#oidc-form .responseModeRadios label:hover {
  background: #f0f0f0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
