body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #d3dde2;
  position: relative;
}

html, body {
  width: 100%;
  height: 100%;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-weight: 100;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
}

.debuggerComponent{
  height: 100%;
  width: 100%;
  display: table;
  position: absolute;
}

.debuggerComponent>div{
  display:table-cell;
  height:100%;
}

.debuggerComponent:after {
  content: "";
  display: table;
  clear: both;
}

.debuggerComponent div.sidebar {
  position: absolute;
  width: 200px;
  height: 100%;
  background: rgb(61, 128, 161);
  box-shadow: inset -25px 0px 25px -25px rgba(0,0,0,0.45);
  overflow-y: scroll;
}

.debuggerComponent div.sidebar>div {
  padding: 25px;
}

.debuggerComponent div.sidebar h2 {
  color: #fff;
  margin: 35px 0;
}

.debuggerComponent div.content {
  float: left;
  width: 65%;
  height: 100%;
  margin-left: 250px;
  padding: 25px 25px 25px 0
}

.fluid {
  width: 100%
}

.savedConnection {
  padding: 25px;
  text-align: left;
  cursor: pointer;
  transition: all .1s ease-in-out;
  margin-bottom: 10px;
}

.savedConnection:hover {
  box-shadow: 10px 11px 5px -6px rgba(0,0,0,0.24);
  transform: scale(1.001);
}

.savedConnection .connection {
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  font-weight: 500;
  margin-bottom: 8px;
}

.savedConnection .client {
  font-size: .6em;
  color: #666;
}