body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-weight: 100;
}

h1 {
  font-size: 2.2em;
  color: #2196f3;
}

h2 {
  font-size: 1.2em;
}

.debuggerComponent div.sidebar>div {
  padding: 5px 10px;
}

.debuggerComponent div.sidebar h2 {
  margin: 25px 0 15px 0;
}

.fluid {
  width: 100%
}

.savedConnection {
  padding: 25px 25px 0 25px;
  text-align: left;
  cursor: pointer;
  transition: all .1s ease-in-out;
  margin-bottom: 10px;
}

.savedConnection:hover {
  box-shadow: 10px 11px 5px -6px rgba(0,0,0,0.24);
  transform: scale(1.001);
}

.savedConnection .connection {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 8px;
}

.savedConnection .client {
  font-size: .8em;
  color: #666;
}

.savedConnection .material-icons {
  float: right;
  position: relative;
  top: -15px;
  color: #2196f3;
}

.Resizer {  
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 50px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
  background: url('/dots.png') no-repeat center center;
}

.Resizer.disabled {
cursor: not-allowed;
}
.Resizer.disabled:hover {
border-color: transparent;
}

.submit {
  margin: 0 15px 0 15px;
}